@using InterviewTestExercise.Domain.Entities
@model AddGradeViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@if(Model.Student.Grades == null)
{
    <h2>No grades for this student.</h2>
}
else
{
    <table>
      <tr>
        <th>Student grades</th>
      </tr>
      @foreach(var grade in Model.Student.Grades)
      {
         <tr>
            <td>grade</td>
         </tr>
      }
    </table>
}
<h2>Add Grade:</h2>
@using (Html.BeginForm("AddGrade", "Student", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Student.IdStudent);
    @Html.TextBoxFor(m => m.Grade);
    <input type="submit" value="Submit"/>
}